dataset_lada_trimmed/
dataset_lada_trimmed_22khz.zip

attention_prior_cache/
outdir/
outdir2/

Pipfile
Pipfile.lock

outdir_train_mels/

models/

results/

__pycache__/

training_1st_stage.out
training_2nd_stage.out
serv.out

tensorboard.out

waveglow_256channels_ljs_v3.pt
waveglow_256channels_universal_v5.pt

model_*

NOTES2.txt
